{{!-- .panthema-item>.panthem-color>.panthema-description>.panthema-colorcode+.panthema-usage --}}
<div class="panthema-item">
  <div class="panthem-color" style="background-color: {{ color }}">
  </div>
  <div class="panthema-description">
    <div class="panthema-colorcode">{{ color }}</div>
    <div class="panthema-usage">{{ usage }}</div>
  </div>
</div>
